<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Web Slicer</title>

    <!--libraries-->
    <!--<script src="gcode_viewer/lib/modernizr.custom.93389.js"></script>-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!--<script src="gcode_viewer/lib/sugar-1.2.4.min.js"></script>-->
    <!--<script src="gcode_viewer/lib/Three.js"></script>-->

    <!--css-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/custom.css"/>

    <!-- MY SCRIPTS -->
    <!--test stuff-->
    <script src="app.js"></script>
    <script src="sliceSettingsController.js"></script>

    <!-- gcode viewer -->
    <!--<script src="gcode_viewer/gcode-parser.js"></script>-->
    <!--<script src="gcode_viewer/gcode-model.js"></script>-->
    <!--<script src="gcode_viewer/renderer.js"></script>-->
    <!--<script src="gcode_viewer/ui.js"></script>-->

</head>
<body ng-app="WebSlicer">

<div class="container" ng-controller="SettingsController">
    <h1>{{title}}</h1>

    <div class="row">
        <!--CONTROLS-->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Controls</h4>
                </div>
                <div class="panel-body">
                    <input type="file" file-model="myFile"/>
                    <button class="btn btn-default" ng-click="uploadFile()">Upload Model</button>
                    <button class="btn btn-default" ng-click="importSettings()">Upload Settings</button>
                    <button class="btn btn-primary" ng-click="slice(modelFileId,settingsFileId)">
                        Slice...
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <!--OctoPrint STATUS PANEL-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Connect OctoPrint</h4>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="ipAddress">OctoPrint IP Address</label>
                            <input ng-model="address" type="text" class="form-control" id="ipAddress"
                                   placeholder="OctoPrint IP Address">
                        </div>
                        <!--<div class="form-group">-->
                        <!--<label for="port">Port</label>-->
                        <!--<input ng-model="port" type="number" class="form-control" id="port"-->
                        <!--placeholder="port (default 5000)">-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="apiKey">API Key</label>
                            <input ng-model="apiKey" type="text" class="form-control" id="apiKey" placeholder="API Key">
                        </div>
                        <button ng-click="pingOctoPrint()" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>

            <!--TEMPERATURE-->
            <div class="panel panel-data" ng-if="dataHere">
                <h4><strong>Nozzle Temp:</strong> {{data.temperature.tool0.actual}} &#8451;</h4>
                <h4><strong>Bed Temp:</strong> {{data.temperature.bed.actual}} &#8451;</h4>
            </div>

        </div>

    </div>
    <div class="row">

        <!--SETTINGS PANEL-->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Printer Settings</h4>
                </div>
                <div class="panel-body">
                    <form>
                        <!--SAMPLE SETTINGS FILE FOR FORM-->
                        <!--{ "id": "prusa_i3", "version": 1,-->
                        <!--"name": "Prusa i3",-->
                        <div class="form-group">
                            <label for="name">name</label>
                            <input ng-model="name" type="text" class="form-control" id="name">
                        </div>
                        <!--"manufacturer": "Other",-->
                        <!--"author": "Other",-->
                        <!--"icon": "icon_ultimaker2.png",-->
                        <!--"platform": "prusai3_platform.stl",-->
                        <!--"inherits": "fdmprinter.json",-->
                        <!--"overrides": {-->
                        <!--"machine_heated_bed": { "default": true },-->
                        <div class="form-group">
                            <label><input ng-model="machine_heated_bed" type="checkbox"> machine_heated_bed</label>
                        </div>
                        <!--"machine_width": { "default": 200 },-->
                        <div class="form-group">
                            <label for="machine_width">machine_width</label>
                            <input ng-model="machine_width" type="number" class="form-control" id="machine_width">
                        </div>
                        <!--"machine_height": { "default": 200 },-->
                        <div class="form-group">
                            <label for="machine_height">machine_height</label>
                            <input ng-model="machine_height" type="number" class="form-control" id="machine_height">
                        </div>
                        <!--"machine_depth": { "default": 200 },-->
                        <div class="form-group">
                            <label for="machine_depth">machine_depth</label>
                            <input ng-model="machine_depth" type="number" class="form-control" id="machine_depth">
                        </div>
                        <!--"machine_center_is_zero": { "default": false },-->
                        <div class="form-group">
                            <label><input ng-model="machine_center_is_zero" type="checkbox">
                                machine_center_is_zero</label>
                        </div>
                        <!--"machine_nozzle_size": { "default": 0.4 },-->
                        <div class="form-group">
                            <label for="machine_nozzle_size">machine_nozzle_size</label>
                            <input ng-model="machine_nozzle_size" type="number" class="form-control"
                                   id="machine_nozzle_size">
                        </div>
                        <!--"machine_nozzle_heat_up_speed": { "default": 2.0 },-->
                        <div class="form-group">
                            <label for="machine_nozzle_heat_up_speed">machine_nozzle_heat_up_speed</label>
                            <input ng-model="machine_nozzle_heat_up_speed" type="number" class="form-control"
                                   id="machine_nozzle_heat_up_speed">
                        </div>
                        <!--"machine_nozzle_cool_down_speed": { "default": 2.0 },-->
                        <div class="form-group">
                            <label for="machine_nozzle_cool_down_speed">machine_nozzle_cool_down_speed</label>
                            <input ng-model="machine_nozzle_cool_down_speed" type="number" class="form-control"
                                   id="machine_nozzle_cool_down_speed">
                        </div>
                        <!--"machine_head_shape_min_x": { "default": 75 },-->
                        <div class="form-group">
                            <label for="machine_head_shape_min_x">machine_head_shape_min_x</label>
                            <input ng-model="machine_head_shape_min_x" type="number" class="form-control"
                                   id="machine_head_shape_min_x">
                        </div>
                        <!--"machine_head_shape_min_y": { "default": 18 },-->
                        <div class="form-group">
                            <label for="machine_head_shape_min_y">machine_head_shape_min_y</label>
                            <input ng-model="machine_head_shape_min_y" type="number" class="form-control"
                                   id="machine_head_shape_min_y">
                        </div>
                        <!--"machine_head_shape_max_x": { "default": 18 },-->
                        <div class="form-group">
                            <label for="machine_head_shape_max_x">machine_head_shape_max_x</label>
                            <input ng-model="machine_head_shape_max_x" type="number" class="form-control"
                                   id="machine_head_shape_max_x">
                        </div>
                        <!--"machine_head_shape_max_y": { "default": 35 },-->
                        <div class="form-group">
                            <label for="machine_head_shape_max_y">machine_head_shape_max_y</label>
                            <input ng-model="machine_head_shape_max_y" type="number" class="form-control"
                                   id="machine_head_shape_max_y">
                        </div>
                        <!--"machine_nozzle_gantry_distance": { "default": 55 },-->
                        <div class="form-group">
                            <label for="machine_nozzle_gantry_distance">machine_nozzle_gantry_distance</label>
                            <input ng-model="machine_nozzle_gantry_distance" type="number" class="form-control"
                                   id="machine_nozzle_gantry_distance">
                        </div>
                        <!--"machine_gcode_flavor": { "default": "RepRap (Marlin/Sprinter)" },-->
                        <div class="form-group">
                            <label for="machine_gcode_flavor">machine_gcode_flavor</label>
                            <input ng-model="machine_gcode_flavor" type="text" class="form-control"
                                   id="machine_gcode_flavor">
                        </div>
                        <!--"machine_start_gcode": {-->
                        <!--"default": "G21 ;metric values\nG90 ;absolute positioning\nM82 ;set extruder to absolute mode\nM107 ;start with the fan off\nG28 X0 Y0 ;move X/Y to min endstops\nG28 Z0 ;move Z to min endstops\nG1 Z15.0 F9000 ;move the platform down 15mm\nG92 E0 ;zero the extruded length\nG1 F200 E3 ;extrude 3mm of feed stock\nG92 E0 ;zero the extruded length again\nG1 F9000\n;Put printing message on LCD screen\nM117 Printing..."-->
                        <!--},-->
                        <div class="form-group">
                            <label for="machine_start_gcode">machine_start_gcode</label>
                            <textarea ng-model="machine_start_gcode.default" rows="10" class="form-control"
                                      id="machine_start_gcode"></textarea>
                        </div>
                        <!--"machine_end_gcode": {-->
                        <!--"default": "M104 S0 ;extruder heater off\nM140 S0 ;heated bed heater off (if you have it)\nG91 ;relative positioning\nG1 E-1 F300  ;retract the filament a bit before lifting the nozzle, to release some of the pressure\nG1 Z+0.5 E-5 X-20 Y-20 F9000 ;move Z up a bit and retract filament even more\nG28 X0 Y0 ;move X/Y to min endstops, so the head is out of the way\nM84 ;steppers off\nG90 ;absolute positioning"-->
                        <!--}-->
                        <div class="form-group">
                            <label for="machine_end_gcode">machine_end_gcode</label>
                            <textarea ng-model="machine_end_gcode.default" rows="10" class="form-control"
                                      id="machine_end_gcode"></textarea>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="gcode">gcode output</label>
                <textarea id="gcode" cols="30" rows="100" ng-model="gcode.gcode" class="form-control"></textarea>
            </div>
        </div>
    </div>

</div>

</body>
</html>