<!DOCTYPE html>
<html ng-app="WebSlicer">
<head lang="en">
    <meta charset="UTF-8">
    <title>Web Slicer</title>

    <link rel="icon" type="image/png" href="img/logo22-plain.png"/>

    <!--libraries-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">

    <!--css-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-cosmo.css">
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">-->
    <link rel="stylesheet" href="css/custom.css"/>

    <!-- MAIN CONTROLLER AND CONFIG -->
    <script src="app.js"></script>

    <!--FILE CONTROLS-->
    <script src="model/files/filesController.js"></script>
    <script src="model/files/filesDirective.js"></script>

    <!--SETTINGS-->
    <script src="model/profile/settingsController.js"></script>
    <script src="model/profile/settingsTabDirective.js"></script>
    <script src="model/profile/settingsBuilderService.js"></script>

    <!--OCTOPRINT-->
    <script src="model/octoprint/octoprintService.js"></script>
    <script src="model/octoprint/octoprintDirective.js"></script>
    <script src="model/octoprint/octoprintController.js"></script>

</head>
<body ng-controller="Main">

<div class="container" ng-controller="SettingsController">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1 class="title"><img src="img/logo22.svg" width="150px">{{title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Login</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="clientId">Client ID</label>
                            <input class="form-control" type="text" id="clientId" ng-model="$root.clientId">
                            <button class="btn btn-warning" ng-click="generateClientId()">generate new id</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!--CONTROLS-->
        <div class="col-lg-6">
            <filecontrols></filecontrols>
        </div>

        <div class="col-lg-6">
            <octoprint></octoprint>
        </div>

    </div>

    <div class="row" ng-controller="SettingsController">

        <!--SETTINGS PANEL-->
        <div class="col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Printer Settings</h3>
                </div>
                <div class="panel-body">

                    <uib-tabset>
                        <uib-tab heading="basic">
                            <curasettings src="model/profile/json/basic.json"></curasettings>
                        </uib-tab>
                        <uib-tab heading="advanced">
                            <curasettings src="model/profile/json/advanced.json"></curasettings>
                        </uib-tab>
                        <uib-tab heading="fine-tune">
                            <curasettings src="model/profile/json/fine-tune.json"></curasettings>
                        </uib-tab>
                        <uib-tab heading="machine">
                            <curasettings src="model/profile/json/machine.json"></curasettings>
                        </uib-tab>
                        <uib-tab heading="start/end gcode">
                            <curasettings src="model/profile/json/start-end-gcode.json"></curasettings>
                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>

        </div>

        <!--GCODE OUTPUT PANEL-->
        <div class="col-lg-6" ng-if="gcode.gcode">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Gcode Output Window</h3>
                    <a ng-href="{{gcodeUrl}}" ng-click="downloadGcode(gcode.gcode)">download gcode</a>
                </div>
                <div class="panel-body">
                    <textarea cols="30" rows="50" ng-model="gcode.gcode" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>