<!--OctoPrint STATUS PANEL-->
<div ng-controller="OctoprintController">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3>Connect OctoPrint</h3>
        </div>
        <div class="panel-body">
            <form>
                <div ng-show="otherUrl">
                    <div class="form-group">
                        <label for="ipAddress">OctoPrint IP Address</label>
                        <input ng-model="url" type="text" class="form-control" id="ipAddress"
                               placeholder="OctoPrint IP Address">
                    </div>
                    <div class="form-group">
                        <label for="port">Port</label>
                        <input ng-model="port" type="number" class="form-control" id="port"
                               placeholder="port (default 5000)">
                    </div>
                </div>
                <div class="form-group">
                    <label for="apiKey">API Key</label>
                    <input ng-model="apiKey" type="text" class="form-control" id="apiKey" placeholder="API Key">
                </div>
                <button ng-click="connectOctoprint()" class="btn btn-default">Connect</button>
                <button ng-click="otherUrl = !otherUrl" class="btn btn-primary">Custom Address?</button>
            </form>

            <!--TEMPERATURE-->
            <div class="panel panel-data" ng-if="octoprintDataHere">
                <h3>Printer Info</h3>
                <h4>Nozzle Temp: <strong>{{octoprintStatus.temperature.tool0.actual}}</strong> &#8451;</h4>
                <h4>Bed Temp: <strong>{{octoprintStatus.temperature.bed.actual}}</strong> &#8451;</h4>
                <h3>Current Files</h3>
                <h4 ng-repeat="file in octoprintFiles">{{file.name}}</h4>
                <!--<button class="btn btn-success" ng-click="postOctoprintFile()" ng-if="gcode.gcode"></button>-->
                <button class="btn btn-success" ng-click="postOctoprintFile()"></button>
            </div>

        </div>
    </div>


</div>